/*
COLORS:

- PRIMARY: 
#b6650c
- ACCENT 
#1345A2 
#2c77cc
- TINTS
 #f0e0ce
- SHADES: 
#965308
- GREYS
#e2e2e2
#333



FONTS:

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights (API) 
300 / 400 / 500 /600

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
  font-weight: 300;
  background-color: #f0e0ce;
  display: flex;
  flex-direction: column;
  color: #333;
}

header {
  padding: 2rem;
  background-color: #b6650c;
  border-radius: 4px;
  z-index: 15;
}

main {
  margin-top: 6rem;
}

img {
  width: 100%;
}

.fixed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  position: fixed;
  padding: 10px 0;
}

/* GENERAL CODE */
.btn {
  margin: 36px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
/* END OF GENERAL */

.logo {
  height: 2.4rem;
}

.logo-icon {
  margin-left: 2.4rem;
  width: 8rem;
  height: 4rem;
  border-radius: 4px;
}

.top-menu {
  background-color: #f0e0ce;
  padding: 1rem;
  margin-right: 6rem;
  border-radius: 8px;
}

.top-menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.intro-section {
  height: 30rem;
  /* background img config */
  background: linear-gradient(
      to bottom,
      rgba(20, 5, 5, 0.911),
      rgba(2, 0, 0, 0.589)
    ),
    url(landing-page-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  /* end of background */
}

.intro-content {
  display: flex;
}

.intro-content--left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f0e0ce;

  margin: 5rem 75% 5rem 5rem;
  padding: 2rem;
  color: #333;
  border-radius: 15px;
}

.intro-content--left-lower {
  margin-right: 53%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.intro-content--left-lower:nth-child(2) {
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.intro-content--left-lower:hover {
  transform: translateY(-0.2rem);
}

.start-tour-heading {
  margin-bottom: 2rem;
}

.start-tour-message {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 0 3rem 0 2rem;
}
.add-circle {
  color: #b6650c;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.discover-group {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 1fr 1fr 1fr;

  border-radius: 11px;
  overflow: hidden;
}

.container {
  padding: 0rem 0 0rem 1.2rem;
  border: 5px solid #b6650c;
  border-radius: 2em;
}

.group {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.09);

  margin: 1.2rem 0.8rem 1.2rem 0.8rem;
}

.group-card--heading {
  margin-bottom: 1rem;
}

.group-card--info {
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 18px;
  padding-right: 1rem;
}

.group .btn {
  justify-self: right;
}

/* 
.user-icon {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
} */

.group:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.activity-text {
  margin-bottom: 1rem;
  padding: 15px 0 0 1.2rem;
  font-weight: 500;
  font-size: 30px;
}
.recent {
  color: #965308;
}
.explore {
  color: #965308;
}

/* THIS IS THE MODAL SECTION */
.add-book-modal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  transition: all 0.4s;

  border: 10px solid #b6650c;
  background-color: #f0e0ce;

  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal-content-header {
  font-weight: 600;
  color: #333;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding-top: 2rem;
}

.book-form {
  display: flex;
  padding-left: 6px;
  /* padding-bottom: 18px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* column-gap: 3rem; */
}

.book-form label {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

.book-form input {
  padding: 0.6rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

/* THIS SECTION IS FOR THE LINK STATES */

.top-menu-link:link,
.top-menu-link:visited {
  color: #965308;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.top-menu-link:hover {
  background-color: #1345a2;
  color: #f0e0ce;
  padding: 0.3rem;
  margin: 0 auto;
  border-radius: 6px;
}

.submit-book {
  display: flex;
  justify-content: center;
}

.btn {
  color: #e2e2e2;
}

.btn:hover {
  transition: all 0.2s;
}

.submit {
  border: 5px solid #3c8eec;
  background-color: #2c77cc;
}
.submit:hover {
  background-color: #2660a1;
}

.cancel {
  background-color: #4c4444;
}

.cancel:hover {
  background-color: #312c2c;
}
.join {
  width: 40%;
  background-color: #b6650c;
  color: #e2e2e2;
}

.bounce {
  outline: 0;
  background-color: #f7a1a2;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}
